main form {
    border-color: #7d7d7d;
    background-color: #dadada;
    text-align: left;
    padding: 1% 1%;
    margin: 10px;
    border: 2px solid #0000;
    box-sizing: border-box;
    border-radius: 5%;
}

main form p {
    display: inline-block;
    margin-right: 10px; 
}

main form section {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

main input {
    max-width: 45%;
    flex: 1; 
}

main h2{
    text-align: center;
}

/* Contenedor de botones */
main form #boton{
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espaciado entre los botones */
    margin-top: 20px; /* Margen superior para separar los botones del contenido */
}

main button {
    padding: 10px 20px; /* Ajusta el tamaño interno del botón */
    background-color: #1F386B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}